<div
  class="w-[13rem] h-[13rem] bg-primary-dark-blue text-white rounded flex-shrink-0 py-2 flex flex-col"
>
  <span
    class="iconify mx-auto text-[6rem]"
    data-icon="carbon:user-avatar-filled"
  ></span>
  <p class="mx-auto italic">from</p>
  <p class="mx-auto text-base">TRAFALGAR D WATER LAW</p>
  <p class="mx-auto mt-3">performance objective</p>
</div>
<!-- POPUP -->
<section
  *ngIf="false"
  class="fixed w-screen h-screen bg-[#0000004f] top-0 left-0"
>
  <div class="bg-white w-full h-full p-2">
    <button class="absolute top-2 right-1 text-2xl">
      <span class="iconify" data-icon="eva:close-fill"></span>
    </button>
    <h1 class="text-2xl font-medium">ACTIVE GOALS</h1>
  </div>
</section>
