<button
  (click)="dispatchReview(review)"
  [ngClass]="{ perf: review.objectiveType === 'performance goal' }"
  class="w-[13rem] h-[13rem] bg-primary-dark-blue text-white rounded flex-shrink-0 py-2 flex flex-col hover:scale-[1.01]"
>
  <span
    class="iconify mx-auto text-[6rem]"
    data-icon="carbon:user-avatar-filled"
  ></span>
  <p class="mx-auto italic">from</p>
  <p class="mx-auto text-base">{{ review.employee | uppercase }}</p>
  <p class="mx-auto mt-3 capitalize">{{ review.objectiveType }}</p>
</button>
