<main
  *ngIf="setOpen"
  class="fixed w-screen h-screen bg-[#0000004f] top-0 left-0 z-20"
>
  <section
    class="bg-white flex-col flex w-full h-full p-2 overflow-y-auto scrollbar-thin xl:scrollbar-thumb-gray-500"
  >
    <nav class="flex flex-row justify-between text-xl">
      <h1>{{ "new development objective" | uppercase }}</h1>
      <button class="text-2xl" (click)="onClose()">
        <span class="iconify" data-icon="eva:close-fill"></span>
      </button>
    </nav>
    <form
      [formGroup]="performanceForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col w-full flex-grow gap-4 text-base mt-4 justify-around"
    >
      <span formArrayName="performance" class="flex flex-col w-full gap-2">
        <span class="w-full flex flex-row justify-between items-center">
          <label for="performance">Performance goals</label>
          <button
            type="button"
            class="w-fit self-end order-last bg-primary-dark-blue text-white py-1 px-2 rounded"
            (click)="onAdd('performance')"
          >
            add
          </button>
        </span>
        <div
          class="w-full"
          *ngFor="let dev of getControls('performance'); let i = index"
        >
          <input
            id="performance"
            [formControlName]="i"
            class="w-full border-b-2 border-black focus:outline-none py-1"
          />
        </div>
      </span>

      <span formArrayName="measures" class="flex flex-col w-full">
        <span class="w-full flex flex-row justify-between items-center">
          <label for="measures">Key performance measures</label>
          <button
            type="button"
            class="w-fit self-end order-last bg-primary-dark-blue text-white py-1 px-2 rounded"
            (click)="onAdd('measures')"
          >
            add
          </button>
        </span>
        <div
          class="w-full"
          *ngFor="let dev of getControls('measures'); let i = index"
        >
          <input
            id="measures"
            [formControlName]="i"
            class="w-full border-b-2 border-black focus:outline-none py-1"
          />
        </div>
      </span>

      <span formArrayName="comments" class="flex flex-col w-full">
        <span class="w-full flex flex-row justify-between items-center">
          <label for="comments">Job holder's comments</label>
          <button
            type="button"
            class="w-fit self-end order-last bg-primary-dark-blue text-white py-1 px-2 rounded"
            (click)="onAdd('comments')"
          >
            add
          </button>
        </span>
        <div
          class="w-full"
          *ngFor="let dev of getControls('comments'); let i = index"
        >
          <input
            id="comments"
            [formControlName]="i"
            class="w-full border-b-2 border-black focus:outline-none py-1"
          />
        </div>
      </span>
      <button
        type="submit"
        class="bg-primary-light-gray text-white py-1 px-12 w-fit mx-auto rounded"
      >
        Save
      </button>
    </form>
  </section>
</main>
