<main
  class="w-screen h-screen flex flex-col scrollbar-thin lg:scrollbar-thumb-primary-dark-gray radius overflow-y-auto"
>
  <nav
    class="w-full fixed top-0 h-[3rem] bg-primary-dark-gray flex flex-row justify-between items-center text-white px-2 z-20"
  >
    <p class="text-xl font-medium">EMPLOYEE</p>
    <div class="flex flex-row items-center gap-4">
      <a [routerLink]="'/employee/feedback'" class="relative">
        <span class="iconify text-2xl" data-icon="ic:round-feedback"></span>
        <p
          class="absolute -top-1 -right-1 bg-red-600 w-5 h-5 leading-5 text-center rounded-full"
        >
          {{ feedbacks }}
        </p>
      </a>
      <button (click)="onLogout()">
        <span
          class="iconify text-2xl"
          data-icon="teenyicons:logout-solid"
        ></span>
      </button>
    </div>
  </nav>
  <section
    class="w-full max-w-[1024px] mx-auto mt-[3rem] relative pl-1 lg:px-4 flex flex-col gap-4 pt-2 shadow-xl"
  >
    <header
      class="w-full flex flex-col lg:flex-row justify-between py-1 pr-1 lg:pr-0 gap-4"
    >
      <div class="w-full flex flex-row gap-1">
        <span
          class="iconify w-12 h-12"
          data-icon="carbon:user-avatar-filled"
        ></span>
        <ul class="flex flex-col overflow-ellipsis">
          <li class="font-medium">{{ date | date | uppercase }}</li>
          <li class="flex flex-row gap-2">
            <p>Name:</p>
            <p class="font-medium">{{ profile.fullname | uppercase }}</p>
          </li>
          <li class="flex flex-row gap-2">
            <p>Role:</p>
            <p class="font-medium">{{ profile.role | uppercase }}</p>
          </li>
          <li class="flex flex-row gap-2">
            <p>Line Manager:</p>
            <p class="font-medium">{{ profile.manager | uppercase }}</p>
          </li>
        </ul>
      </div>
      <div
        class="w-full flex flex-row lg:justify-end items-end lg:items-start gap-1"
      >
        <button
          (click)="setOpen('dev')"
          class="bg-primary-dark-blue text-white px-2 py-1 rounded flex flex-row items-center gap-1"
        >
          <span class="iconify" data-icon="fluent:add-16-filled"></span>
          <p>Development Goal</p>
        </button>
        <button
          (click)="setOpen('performance')"
          class="bg-primary-dark-blue text-white px-2 py-1 rounded flex flex-row items-center gap-1"
        >
          <span class="iconify" data-icon="fluent:add-16-filled"></span>
          <p>Perfomance Goal</p>
        </button>
      </div>
    </header>
    <div
      class="h-full flex flex-col z-10 rounded-t-md bg-white gap-2 pt-6 pb-2"
    >
      <h1 class="text-lg font-medium">ACTIVE OBJECTIVES</h1>
      <div class="w-full flex flex-col gap-6 h-full">
        <!-- task component -->
        <p *ngIf="goals.length === 0" class="mx-auto">No active objectives</p>
        <app-taskbar
          *ngFor="let goal of goals"
          [data]="goal"
          (refresh)="onGetObjectives()"
        ></app-taskbar>
      </div>
    </div>
  </section>

  <!-- create new performance objectives -->
  <app-create-performance
    [setOpen]="newPerformanceGoal"
    (close)="setOpen('performance')"
  ></app-create-performance>

  <!-- create new development objectives -->
  <app-create-development
    [setOpen]="newDevGoal"
    (close)="setOpen('dev')"
  ></app-create-development>
</main>
