<div
  [ngClass]="{ 'dev-border': objectives.type === 'development goal' }"
  class="w-full relative overflow-x-auto scrollbar-thin lg:scrollbar-thumb-black rounded-l-md border-2 xl:border-r-2 border-r-0 border-primary-light-blue pr-2 py-4 gap-4 flex flex-row flex-nowrap text-white"
>
  <!-- TASK DETAILS -->
  <p
    [ngClass]="{ dev: objectives.type === 'development goal' }"
    class="sticky left-0 h-[15rem] text-white bg-primary-light-blue px-2 z-10"
  >
    {{ objectives.type | uppercase }}
  </p>
  <span *ngFor="let goals of getEntries(objectives.fields)">
    <button
      [ngClass]="{ 'dev-card': objectives.type === 'development goal' }"
      class="w-[15rem] h-[15rem] overflow-y-hidden p-2 flex-shrink-0 bg-primary-light-brown rounded flex flex-col xl:gap-2"
    >
      <p class="mx-auto font-medium">{{ goals[0] | uppercase }}</p>
      <!-- others -->
      <ul
        *ngIf="goals[0] !== 'score' && goals[0] !== 'ratings'"
        class="w-full flex flex-col mt-4 gap-2"
      >
        <li *ngFor="let x of goals[1]" class="border-b border-white">
          {{ x }}
        </li>
      </ul>

      <!-- ratings -->
      <ul
        *ngIf="goals[0] === 'rating'"
        class="w-full flex flex-row justify-center items-center h-full"
      >
        <li
          *ngFor="let x of getRatings(goals[1]).stars"
          class="flex flex-row w-fit"
        >
          <span
            *ngIf="goals[0] === 'rating'"
            class="iconify"
            data-icon="ant-design:star-filled"
            ngClass="text-2xl"
          ></span>
        </li>
        <li
          *ngFor="let x of getRatings(goals[1]).noStars"
          class="flex flex-row w-fit"
        >
          <span
            *ngIf="goals[0] === 'rating'"
            class="iconify"
            data-icon="ant-design:star-outline"
            ngClass="text-2xl"
          ></span>
        </li>
      </ul>

      <!-- score -->
      <div *ngIf="goals[0] === 'score'" class="text-5xl m-auto">
        {{ goals[1] }}/<sub>5</sub>
      </div>
    </button>
  </span>
</div>
<!-- POPUP -->
<section
  *ngIf="false"
  class="fixed w-screen h-screen bg-[#0000004f] top-0 left-0"
>
  <div class="bg-white w-full h-full p-2">
    <button class="absolute top-2 right-1 text-2xl">
      <span class="iconify" data-icon="eva:close-fill"></span>
    </button>
    <h1 class="text-2xl font-medium">ACTIVE GOALS</h1>
    <ul
      *ngFor="let x of [1, 2, 3, 4, 5, 6, 7]"
      class="w-full flex-grow flex flex-col text-lg mt-4"
    >
      <li
        class="border-b border-black flex flex-row w-full justify-between py-1 mb-4"
      >
        <p>Task {{ x }}</p>
        <input type="checkbox" />
      </li>
    </ul>
  </div>
</section>
