<div
  [ngClass]="{ 'dev-border': objective.type === 'development goal' }"
  class="w-full relative overflow-x-auto scrollbar-thin lg:scrollbar-thumb-primary-dark-gray radius rounded-l-md lg:rounded-r-md border-2 xl:border-r-2 border-r-0 border-primary-light-blue pr-2 py-4 gap-4 flex flex-row flex-nowrap text-white mb-4"
>
  <!-- TASK DETAILS -->
  <div
    [ngClass]="{ dev: objective.type === 'development goal' }"
    class="sticky left-0 h-[15rem] text-white bg-primary-light-blue p-2 z-10 flex flex-col justify-between"
  >
    <p class="text-center font-medium">{{ objective.type | uppercase }}</p>
    <span
      *ngIf="objective.type === 'performance goal'"
      class="iconify mx-auto text-5xl"
      data-icon="eos-icons:performance"
    ></span>
    <span
      *ngIf="objective.type === 'development goal'"
      class="iconify mx-auto text-5xl"
      data-icon="ic:baseline-self-improvement"
    ></span>
    <button
      (click)="onReviewSubmit(objective)"
      [disabled]="canSubmit(objective)"
      class="bg-primary-dark-blue px-3 py-1 disabled:cursor-not-allowed disabled:bg-gray-400 disabled:italic"
    >
      Submit
    </button>
  </div>
  <span *ngFor="let goals of getEntries(objective.fields)">
    <button
      (click)="setPopup(); setPopupData(goals)"
      [ngClass]="{ 'dev-card': objective.type === 'development goal' }"
      class="w-[15rem] h-[15rem] overflow-y-hidden p-2 flex-shrink-0 bg-primary-light-brown rounded flex flex-col xl:gap-2 relative hover:scale-[1.01]"
    >
      <p class="mx-auto font-medium">{{ goals[0] | uppercase }}</p>
      <!-- others -->
      <ul
        *ngIf="goals[0] !== 'score' && goals[0] !== 'ratings'"
        class="w-full flex flex-col mt-4 gap-2"
      >
        <li *ngFor="let x of goals[1].data" class="border-b border-white">
          {{ x }}
        </li>
      </ul>

      <!-- ratings -->
      <ul
        *ngIf="goals[0] === 'rating'"
        class="w-full flex flex-row justify-center items-center h-full"
      >
        <li
          *ngFor="let x of getRatings(goals[1]).stars"
          class="flex flex-row w-fit"
        >
          <span
            *ngIf="goals[0] === 'rating'"
            class="iconify"
            data-icon="ant-design:star-filled"
            ngClass="text-2xl"
          ></span>
        </li>
        <li
          *ngFor="let x of getRatings(goals[1]).noStars"
          class="flex flex-row w-fit"
        >
          <span
            *ngIf="goals[0] === 'rating'"
            class="iconify"
            data-icon="ant-design:star-outline"
            ngClass="text-2xl"
          ></span>
        </li>
      </ul>

      <!-- score -->
      <div *ngIf="goals[0] === 'score'" class="text-5xl m-auto">
        {{ goals[1] }}/<sub>5</sub>
      </div>

      <!-- overlay -->
      <div
        *ngIf="goals[1].status === 'completed'"
        class="absolute w-full h-full bg-[#00800071] top-0 left-0 grid place-items-center"
      >
        <span class="iconify text-6xl" data-icon="bi:check-circle-fill"></span>
      </div>
    </button>
  </span>
</div>
<app-popup
  [popupDisplay]="popupDisplay"
  [popupData]="popupData"
  (closePopup)="setPopup()"
  (completeObjective)="setComplete(objective)"
></app-popup>
