<div
  class="w-full relative overflow-x-auto scrollbar-thin lg:scrollbar-thumb-black rounded-l-md border-2 border-r-0 border-primary-light-blue pr-2 py-4 gap-4 flex flex-row flex-nowrap text-white"
>
  <!-- TASK DETAILS -->
  <p class="sticky left-0 h-[15rem] text-white bg-primary-light-blue px-2">
    PERFORMANCE GOAL
  </p>
  <!-- ACTIVE TASKS -->
  <button
    class="w-[15rem] h-[15rem] p-2 flex-shrink-0 bg-primary-light-brown rounded flex flex-col gap-2"
  >
    <p class="mx-auto font-medium">ACTIVE GOALS</p>
    <ul *ngFor="let x of [1, 2, 3, 4, 5, 6, 7]" class="w-full flex flex-col">
      <li class="border-b border-white">Task {{ x }}</li>
    </ul>
  </button>
  <!-- COMPLETED TASKS -->
  <button
    class="w-[15rem] h-[15rem] p-2 flex-shrink-0 bg-primary-light-brown rounded flex flex-col gap-2"
  >
    <p class="mx-auto font-medium">COMPLETED</p>
    <ul *ngFor="let x of [1, 2, 3, 4, 5, 6, 7]" class="w-full flex flex-col">
      <li class="border-b border-white">Task {{ x }}</li>
    </ul>
  </button>
  <!-- OUTSTANDING TASKS -->
  <button
    class="w-[15rem] h-[15rem] p-2 flex-shrink-0 bg-primary-light-brown rounded flex flex-col gap-2"
  >
    <p class="mx-auto font-medium">OUTSTANDING</p>
    <ul *ngFor="let x of [1, 2, 3, 4, 5, 6, 7]" class="w-full flex flex-col">
      <li class="border-b border-white">Task {{ x }}</li>
    </ul>
  </button>
</div>
<!-- POPUP -->
<section
  *ngIf="false"
  class="fixed w-screen h-screen bg-[#0000004f] top-0 left-0"
>
  <div class="bg-white w-full h-full p-2">
    <button class="absolute top-2 right-1 text-2xl">
      <span class="iconify" data-icon="eva:close-fill"></span>
    </button>
    <h1 class="text-2xl font-medium">ACTIVE GOALS</h1>
    <ul
      *ngFor="let x of [1, 2, 3, 4, 5, 6, 7]"
      class="w-full flex-grow flex flex-col text-lg mt-4"
    >
      <li
        class="border-b border-black flex flex-row w-full justify-between py-1 mb-4"
      >
        <p>Task {{ x }}</p>
        <input type="checkbox" />
      </li>
    </ul>
  </div>
</section>
