<main
  class="w-screen h-screen flex flex-col scrollbar-thin lg:scrollbar-thumb-primary-dark-gray radius overflow-y-auto"
>
  <nav
    class="w-full fixed top-0 h-[3rem] bg-primary-dark-gray flex flex-row justify-between items-center text-white px-2"
  >
    <p class="text-xl font-medium">LINE MANAGER</p>
    <button (click)="onLogout()">
      <span class="iconify text-2xl" data-icon="teenyicons:logout-solid"></span>
    </button>
  </nav>
  <section
    class="w-full max-w-[1024px] shadow-xl mx-auto h-[calc(100vh-3rem)] relative mt-auto pl-1 lg:px-4 flex flex-col gap-4 pt-2"
  >
    <header
      class="w-full flex flex-col lg:flex-row justify-between py-1 pr-1 lg:pr-0 gap-4"
    >
      <div class="w-full flex flex-row gap-1">
        <span
          class="iconify w-12 h-12"
          data-icon="carbon:user-avatar-filled"
        ></span>
        <ul class="flex flex-col overflow-ellipsis">
          <li class="font-medium">{{ date | date | uppercase }}</li>
          <li class="flex flex-row gap-2">
            <p>Name:</p>
            <p class="font-medium">{{ profile.fullname | uppercase }}</p>
          </li>
          <li class="flex flex-row gap-2">
            <p>Role:</p>
            <p class="font-medium">{{ profile.role | uppercase }}</p>
          </li>
        </ul>
      </div>
      <div
        class="w-full flex flex-row lg:justify-end items-end lg:items-start gap-1"
      >
        <a
          [routerLink]="'create-user'"
          class="bg-primary-dark-blue text-white px-2 py-1 rounded flex flex-row items-center gap-1"
        >
          <span class="iconify" data-icon="fluent:add-16-filled"></span>
          <p>Add Employee</p>
        </a>
        <button
          (click)="onViewEmployees()"
          class="bg-primary-dark-blue text-white px-2 py-1 rounded flex flex-row items-center gap-1"
        >
          <p>View Employees</p>
        </button>
      </div>
    </header>
    <div
      class="h-full flex flex-col z-10 rounded-t-md bg-white gap-6 pt-6 pb-2"
    >
      <div class="flex flex-col w-full">
        <p class="text-xl mb-1 font-medium">Pending Reviews</p>
        <span
          class="flex flex-row flex-nowrap overflow-x-auto p-2 gap-2 scrollbar-thin"
        >
          <!-- review-card -->
          <p *ngIf="reviews.length === 0" class="mx-auto">No pending reviews</p>
          <app-review-card
            *ngFor="let review of reviews"
            [reviews]="review"
          ></app-review-card>
        </span>
      </div>

      <div class="flex flex-col w-full pr-1">
        <p class="text-xl mb-1 font-medium">Review History</p>
        <ul
          class="grid grid-cols-history text-white rounded py-1 bg-primary-dark-gray"
        >
          <li></li>
          <li class="px-1">Name</li>
          <li class="px-1">Objective Type</li>
          <li class="mx-auto">Score</li>
        </ul>
        <!-- history card -->
        <app-history-card
          *ngFor="let history of profile.history"
          [history]="history"
        ></app-history-card>
      </div>
    </div>
  </section>
  <app-manager-popup
    [popupDisplay]="viewEmployees"
    [popupData]="profile.employees"
    (closePopup)="onViewEmployees()"
  ></app-manager-popup>
</main>
