<main
  *ngIf="open"
  class="fixed w-screen grid h-screen bg-[#0000004f] top-0 left-0 z-20"
>
  <section
    class="bg-white flex-col flex w-full h-full lg:max-w-[600px] m-auto lg:max-h-[600px] p-2 lg:p-6 overflow-y-auto scrollbar-thin xl:scrollbar-thumb-gray-500 radius lg:rounded-md"
  >
    <nav class="flex flex-row justify-between text-xl">
      <h1 class="font-semibold">{{ feedback.objectiveType | uppercase }}</h1>
      <button class="text-2xl" (click)="onClose()">
        <span class="iconify" data-icon="eva:close-fill"></span>
      </button>
    </nav>
    <div class="w-full flex-grow flex flex-col px-2 mt-4">
      <span class="w-full grid grid-cols-2 gap-4">
        <ul
          *ngFor="let field of getEntries(feedback)"
          class="w-full flex flex-col col-span-2 justify-between bg-gray-300 p-1"
        >
          <li
            class="w-full flex-row flex text-base font-medium justify-between"
          >
            <p class="capitalize">{{ field[0] }}</p>
            <span
              class="flex flex-row gap-2 bg-green-500 px-1 rounded text-white"
              *ngIf="field[0] === 'development' || field[0] === 'performance'"
            >
              <p>status:</p>
              <p>{{ field[1].status }}</p>
            </span>
          </li>
          <li *ngFor="let activity of field[1].data">- {{ activity }}</li>
        </ul>

        <span
          class="flex flex-col lg:w-[13rem] w-[10rem] rounded lg:h-[13rem] h-[10rem] p-1 mx-auto bg-primary-dark-blue text-white"
        >
          <h1 class="text-base font-medium">Score</h1>
          <p class="text-5xl m-auto">{{ feedback.score }}/<sub>5</sub></p>
        </span>

        <span
          class="flex flex-col lg:w-[13rem] w-[10rem] rounded lg:h-[13rem] h-[10rem] p-1 mx-auto bg-primary-dark-blue text-white"
        >
          <h1 class="text-base font-medium">Rating</h1>
          <ul
            class="w-full flex flex-row justify-center items-center h-full m-auto"
          >
            <li
              *ngFor="let x of getRatings(feedback.rating).stars"
              class="flex flex-row w-fit"
            >
              <span
                class="iconify"
                data-icon="ant-design:star-filled"
                ngClass="text-2xl"
              ></span>
            </li>
            <li
              *ngFor="let x of getRatings(feedback.rating).noStars"
              class="flex flex-row w-fit"
            >
              <span
                class="iconify"
                data-icon="ant-design:star-outline"
                ngClass="text-2xl"
              ></span>
            </li></ul
        ></span>
      </span>
    </div>
  </section>
</main>
